@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

.custom-font {
  font-family: "Inter", sans-serif;
}

.custom-font-2 {
  font-family: "Lexend Deca", sans-serif;
}

.background {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
}

.card-background {
  background-color: hsl(244, 38%, 16%);
}

.card-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
}

.accent {
  color: hsl(277, 64%, 61%);
  background: none;
}

.stats-heading {
  color: hsla(0, 0%, 100%, 0.6);
}

.stats-information {
  padding-left: 50px;
  padding-right: 50px;
}

.stats-numbers {
  margin-top: 70px;
}

.card-body {
  margin-top: 7%;
}

.overlay {
  background-color: hsla(277, 64%, 61%);
}
